<!-- 
<button class="rounded-none ..." (click)="getDoc()">Get doc</button>

<div class="" >
  {{ DocList | json}}

</div> -->

<a href="#"><div class="flex shadow-xl w-4/5 p-4 flex-col gap-4 rounded-xl">

    <div class="w-6 flex right-80 absolute ">
      <img src="../../../assets/icons8-linking-50.png" alt=""/>
    </div>
  
    <div class="w-3/4 p-2">
      <h1 class="font-bold text-xl">
       Doctors name
      </h1>
  
   
  
      <p class="text-xl p-2">
        The power of the first of the three proverbial Rs cannot be overstressed:
        In this story, we explore the many benefits of reading, for our mental
        health and overall well-being...
      </p>
  
     
    </div>
  </div>
  </a>