<div class="flex flex-col justify-center items-center">
  <div class="relative shadow-xl flex justify-center items-center mb-10">
    <img
      src="../../../assets/mental-health-awareness-with-meditation-background-free-vector.jpg"
      class="w-screen h-[50vh] object-cover opacity-90"
      alt="Big Image"
    />
    <div class="absolute flex flex-col justify-center items-center">
      <h1
        class="text-7xl text-center font-bold text-[#222831] font-sans md:text-7xl sm:text-6xl max-sm:text-5xl"
      >
        Test Your Mental Health <br />
        using AI
      </h1>
      <button routerLink="user-form"
        class="bg-[#222831] text-white w-1/5 text-lg py-3 px-2 rounded-xl m-1 shadow-2xl hover:border-black hover:bg-white hover:text-black mt-12 justify-center transition-all ease-in-out"
      >
       Get Started
      </button>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center">
    <h1 class="text-4xl font-bold mt-8 mx-2">Featured Posts</h1>

    <div class="flex flex-col justify-center items-center w-3/5 my-10 gap-8">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</div>
