<div
  class="p-8 mx-auto my-20 drop-shadow-2xl h-auto w-96 border-4 bg-white rounded-lg"
>
  <h2 class="text-black font-bold p-2 text-center text-3xl">Sign Up</h2>
  <form class="flex flex-col text-lg" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <div class="bg-white p-4 flex flex-col">
      <label class="m-1">First Name </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Ex. John"
        type="text"
        name="first name" 
        ngModel
      /><br />
      <label class="m-1">Last Name </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Ex. Doe"
        type="text"
        name="last name" 
        ngModel
      /><br />
      <label class="m-1">Email </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Ex. johndoe@email.com"
        type="email"
        name="email" 
        ngModel
      /><br />
      <label class="m-1">Password </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Enter a password"
        type="password"
        name="password" 
        ngModel
      /><br />
      <label class="m-1">Confirm Password </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Confirm password"
        type="password"
        name="confirm_pass" 
        ngModel
      /><br />
      <label class="m-1">DOB</label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Date of Birth"
        type="date"
        name="dob" 
        ngModel
      /><br />

      <label>Gender: </label>
      <div>
        <label class="mr-20" for="Male"> Male</label>
        <input type="radio" name="gender" id="Male" ngModel />
      </div>

      <div>
        <label class="mr-16" for="Female"> Female</label>
        <input type="radio" name="gender" id="Female" ngModel/>
      </div>

      <div>
        <label class="mr-16" for="Others"> Others</label>
        <input type="radio" name="gender" id="Others" ngModel />
      </div>
    </div>
    <button
      type="submit"
      class="text-white border-2 bg-[#222831] w-64 mx-auto py-2 text-xl font-medium rounded m-2 hover:bg-white hover:text-black hover:border-2 hover:border-black transition-all ease-in-out"
    >
      Submit
    </button>
  </form>
  <p class="text-black text-center">Already have an account?</p>
  <p class="text-black text-center">
    <a class="text-black" routerLink="sign-in"><u>Sign In</u></a>
  </p>
</div>





<!-- card start -->

<!-- card end -->