<div
  class="p-8 mx-auto my-20 drop-shadow-2xl h-auto w-96 border-4 bg-white rounded-lg"
>
  <h2 class="text-black font-bold p-2 text-center text-3xl">Sign Up</h2>
  <form class="flex flex-col text-lg" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="bg-white p-4 flex flex-col">
      <label class="m-1">First Name </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Ex. John"
        type="text"
        name="first name" 
        formControlName="first_name"
        required
      /><br />
      <label class="m-1">Last Name </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Ex. Doe"
        type="text"
        name="last name" 
        formControlName="last_name"
        required
      /><br />
      <label class="m-1">Email </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Ex. johndoe@email.com"
        type="email"
        name="email" 
        formControlName="email"
        required
      /><br />
      <label class="m-1">Password </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Enter a password"
        type="password"
        name="password" 
        formControlName="password"
        required
      /><br />
      <label class="m-1">Confirm Password </label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Confirm password"
        type="password"
        name="confirm_pass" 
        formControlName="confirm_pass"
        required
      /><br />
      <label class="m-1">DOB</label>
      <input
        class="border-2 m-1 p-1 border-black-900"
        placeholder="Date of Birth"
        type="date"
        name="dob" 
        formControlName="dob"
        required
      /><br />

      <!-- <label>Gender: </label>
      <div>
        <label class="mr-20" for="Male"> Male</label>
        <input type="radio" name="gender" id="Male"  />
      </div>

      <div>
        <label class="mr-16" for="Female"> Female</label>
        <input type="radio" name="gender" id="Female" />
      </div>

      <div>
        <label class="mr-16" for="Others"> Others</label>
        <input type="radio" name="gender" id="Others"  />
      </div> -->
      <label class="m-1"> Gender </label>
      <select 
        class="text-black bg-white w-32 m-1 p-1 text-lg font-medium rounded hover:bg-white hover:text-black border-2 hover:border-2 hover:border-black group" 
        (change)="changeGender($event)"
        formControlName="genderName"
        
      >
        <option name="select">select</option>
        <option name="male">Male</option>
        <option name="female">Female</option>
        <option name="others" >Others</option></select
      ><br />
      <label class="m-1"> Your State </label>
      <select 
        class="text-black bg-white w-32 m-1 p-1 text-lg font-medium rounded hover:bg-white hover:text-black border-2 hover:border-2 hover:border-black group" 
        (change)="changeState($event)"
        formControlName="stateName"
      >
        <option value="Andhra-Pradesh">Andhra Pradesh</option>
        <option value="Andaman-and-Nicobar-Islands">Andaman and Nicobar Islands</option>
        <option value="Arunachal-Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chandigarh">Chandigarh</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Dadar-and-Nagar-Haveli">Dadar and Nagar Haveli</option>
        <option value="Daman-and-Diu">Daman and Diu</option>
        <option value="Delhi">Delhi</option>
        <option value="Lakshadweep">Lakshadweep</option>
        <option value="Puducherry">Puducherry</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal-Pradesh">Himachal Pradesh</option>
        <option value="Jammu-and-Kashmir">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya-Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil-Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar-Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West-Bengal">West Bengal</option></select
      ><br />

    </div>
    <button
      type="submit"
      class="text-white border-2 bg-[#222831] w-64 mx-auto py-2 text-xl font-medium rounded m-2 hover:bg-white hover:text-black hover:border-2 hover:border-black transition-all ease-in-out"
    >
      Submit
    </button>
  </form>
  <p class="text-black text-center">Already have an account?</p>
  <p class="text-black text-center">
    <a class="text-black" routerLink="../sign-in"><u>Sign In</u></a>
  </p>
</div>





<!-- card start -->

<!-- card end -->