<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/health.ico">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    </style>
    <title>Mental Health Prediction using Deep Neural Networks</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Health App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="form.html">Mental Health<span class="sr-only">(current)</span></a>
            </li>
            
          </ul>
        </div>
      </nav>
      <!--Mask-->
      <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Know your chances of predicting your mental health in one Click!</h1>
        <hr class="w-75 mx-auto pt-5">
        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <img src="https://ca-times.brightspotcdn.com/dims4/default/bb60523/2147483647/strip/true/crop/2000x1333+0+0/resize/2000x1333!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F8e%2Fb7%2F99beae9a4be0bbced1487b04b619%2Fla-hm-nyny-mental-health.jpg" class="float-left">
            
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict')}}" method="post">
              <div class="form-group">
                <label for="Age">Age</label>
                <input class="form-control" type="number" step="any" id="Age" name="Age" required="required" placeholder="Age" min="0" max="120">
              </div>
              <div class="form-group">
                <label for="Gender">Gender</label>
                <select class="form-control" id="Gender" name = "Gender" required="required" placeholder="Gender">
                  <option value="1">Male</option>
                  <option value="0">Female</option>
                </select>
              </div>
              <!-- <div class="form-group">
                <label for="self_employed">Are you Self Employed?</label>
                <select class="form-control" id="self_employed" name = "self_employed" required="required" placeholder="self_employed">
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div> -->
              <div class="form-group">
                <label for="family_history">Do you have a family history of mental illness?</label>
                <select class="form-control" id="family_history" name = "family_history" required="required" placeholder="family_history">
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
              </div>

              <div class="form-group">
                <label for="work_interfere">When you feel depressed, do you feel that it interferes with your work?</label>
                <select class="form-control" id="work_interfere" name = "work_interfere" required="required" placeholder="work_interfere">
                  <option value="0">Never</option>
                  <option value="1">Often</option>
                </select>
              </div>

              <div class="form-group">
                <label for="no_employees">How many employees does your company or organization have?</label>
                <select class="form-control" id="no_employees" name = "no_employees" required="required" placeholder="no_employees">
                  <option value="0">1-25</option>
                  <option value="2">26-100</option>
                  <option value="3">100-1000</option>
                  <option value="1">More than 1000</option>
                </select>
              </div>

              <div class="form-group">
                <label for="remote_work">Do you work remotely (outside of an office)?</label>
                <select class="form-control" id="remote_work" name = "remote_work" required="required" placeholder="remote_work">
                  <option value="0">No</option>
                  <option value="1">Yes</option>
                </select>
              </div>
              
              <!-- <div class="form-group">
                <label for="tech_company">Is your employer primarily a tech company/organization?</label>
                <select class="form-control" id="tech_company" name = "tech_company" required="required" placeholder="tech_company">
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div> -->

              <div class="form-group">
                <label for="benefits">Does your employer provide mental health benefits?</label>
                <select class="form-control" id="benefits" name = "benefits" required="required" placeholder="benefits">
                  <option value="0">Yes</option>
                  <option value="2">No</option>
                  <option value="1">Don't know</option>
                </select>
              </div>

              <div class="form-group">
                <label for="care_options">Do you know the options for mental health care your employer provides?</label>
                <select class="form-control" id="care_options" name = "care_options" required="required" placeholder="care_options">
                  <option value="1">No</option>
                  <option value="0">Not sure</option>
                  <option value="2">Yes</option>
                </select>
              </div>

              <div class="form-group">
                <label for="wellness_program">Has your employer ever discussed mental health as part of an employee wellness program?</label>
                <select class="form-control" id="wellness_program" name = "wellness_program" required="required" placeholder="wellness_program">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>

              <div class="form-group">
                <label for="seek_help">Does your employer provide resources to learn more about mental health issues and how to seek help?</label>
                <select class="form-control" id="seek_help" name = "seek_help" required="required" placeholder="seek_help">
                  <option value="0">Yes</option>
                  <option value="1">No</option>
                </select>
              </div>

              <div class="form-group">
                <label for="anonymity">Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?</label>
                <select class="form-control" id="anonymity" name = "anonymity" required="required" placeholder="anonymity">
                  <option value="0">Yes</option>
                  <option value="1">No</option>
                </select>
              </div>

              <div class="form-group">
                <label for="leave">How easy is it for you to take medical leave for a mental health condition?</label>
                <select class="form-control" id="leave" name = "leave" required="required" placeholder="leave">
                  <option value="0">Easy</option>
                  <option value="1">Don't know</option>
                  <option value="2">difficult</option>
                </select>
              </div>

              <div class="form-group">
                <label for="mental_health_consequence">Do you think that discussing a mental health issue with your employer would have negative consequences?</label>
                <select class="form-control" id="mental_health_consequence" name = "mental_health_consequence" required="required" placeholder="mental_health_consequence">
                  <option value="2">Yes</option>
                  <option value="1">No</option>
                  <option value="0">Maybe</option>
                </select>
              </div>

              <div class="form-group">
                <label for="coworkers">Would you be willing to discuss a mental health issue with your coworkers?</label>
                <select class="form-control" id="coworkers" name = "coworkers" required="required" placeholder="coworkers">
                  <option value="2">Yes</option>
                  <option value="1">No</option>
                  <option value="0">Some of them</option>
                </select>
              </div>
              <button type="submit" class="btn btn-danger">Predict</button>
            </form>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>