<div class="py-5 px-2 bg-[#222831] text-white text-bold flex items-center">
  <span class="text-2xl ml-8"><a routerLink="">Mental Health</a></span>

  <div class="nav-buttons mr-8">
    <button
      class="bg-white text-black text-lg py-1 px-3 m-1 rounded-md hover:border-white hover:bg-black hover:text-white transition-all ease-in-out"
    >
      <a routerLink="sign-in">Sign In</a>
    </button>
    <button
      class="bg-white text-black py-1 text-lg px-3 m-1 rounded-md hover:border-white hover:bg-black hover:text-white transition-all ease-in-out"
    >
      <a routerLink="sign-up">Sign Up</a>
    </button>
  </div>
</div>
